<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxZe83mRJcFS5Nz8DXXTGfcx9YEIUpj0s</string>
	<key>GCM_SENDER_ID</key>
	<string>195693715472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dolfinmind.balanceiq</string>
	<key>PROJECT_ID</key>
	<string>dolfin-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>dolfin-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195693715472:ios:9f589a93af45abe32c2a95</string>
</dict>
</plist>